  <img class="bg" src="/carter/pic2.jpg"/>

  <section class="header">
    <h2 class="title">A Software engineer. Scientist & Quantum Hacker.</h2>
    <button class="resume" href="#" onclick="">Résumé</button>
  </section>

  <nav class="navbar">
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-item"><a class="navbar-link" href="#Profile">Profile</a></li>
        <li class="navbar-item"><a class="navbar-link" href="#Experience">Experience</a></li>
        <li class="navbar-item"><a class="navbar-link" href="#Projects">Projects</a></li>
      </ul>
    </div>
  </nav>


  <div class="portfolio">
    <h4 class="quote">"Show up. Show up on time. Show up on time dressed to play."</h4>
    <div class="container" id="Profile">
      <div class="row">
          <h4>Profile</h4>
          <div class="six columns noMargin">
            <div>
              <span>Name: Carter Minshull</span>
            </div>
            <div>
              <span>Age: 21</span>
            </div>
            <div>
              <span>School: University of Waterloo</span>
            </div>
            <div>
              <span>Major: Honors Physics</span>
            </div>
            <div>
              <span>Occupation: Womanizer</span>
            </div>
          </div>
          <div class="six columns">
            <div>
              <span>Email: cminshull@uwaterloo.ca</span>
            </div>
            <div>
              <span>Phone: 888-888-8888</span>
            </div>
            <div>
              <span>Company:</span> 
            </div>
          </div>
      </div>
    </div>

    <div class="container" id="Experience">
        <div>
            <h4>Experience</h4>
            <p>Input your experiences here</p>
            <div>
              <span>Reference Letters:</span>
            </div>
            <div class="reference">
              <div class="three columns">
                <img class="letter" src="/carter/letterIcon.jpg"/>
                <div>Research</div>
              </div>
              <div class="three columns">
                <img class="letter" src="/carter/letterIcon.jpg"/>
                <div>School</div>
              </div>
              <div class="three columns">
                <img class="letter" src="/carter/letterIcon.jpg"/>
                <div>Work</div>
              </div>
              <div class="three columns">
                <img class="letter" src="/carter/letterIcon.jpg"/>
                <div>NetWork</div>
              </div>
            </div>
        </div>
    </div>

    <div class="container" id="Projects">
        <div>
            <h4>Projects</h4>
            <p>Here are the projects that I have worked on</p>
        </div>
    </div>

  </div>