  <img class="bg" src="/carter/pic2.jpg"/>

  <section class="header">
    <h2 class="title">A Software engineer. Scientist & Quantum Hacker.</h2>
    <a class="button button-primary" href="#" onclick="">Download</a>
  </section>
  <div class="navbar-spacer"></div>
  <nav class="navbar">
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-item"><a class="navbar-link" href="#intro">Intro</a></li>
        <li class="navbar-item">
          <a class="navbar-link" href="#" data-popover="#codeNavPopover">Code</a>
          <div id="codeNavPopover" class="popover">
            <ul class="popover-list">
              <li class="popover-item">
                <a class="popover-link" href="#grid">Grid</a>
              </li>
              <li class="popover-item">
                <a class="popover-link" href="#typography">Typography</a>
              </li>
              <li class="popover-item">
                <a class="popover-link" href="#buttons">Buttons</a>
              </li>
              <li class="popover-item">
                <a class="popover-link" href="#forms">Forms</a>
              </li>
              <li class="popover-item">
                <a class="popover-link" href="#lists">Lists</a>
              </li>
              <li class="popover-item">
                <a class="popover-link" href="#code">Code</a>
              </li>
              <li class="popover-item">
                <a class="popover-link" href="#tables">Tables</a>
              </li>
              <li class="popover-item">
                <a class="popover-link" href="#queries">Queries</a>
              </li>
              <li class="popover-item">
                <a class="popover-link" href="#utilities">Utilities</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="navbar-item"><a class="navbar-link" href="#examples">Examples</a></li>
        <li class="navbar-item">
          <a class="navbar-link" href="#" data-popover="#moreNavPopover">More</a>
          <div id="moreNavPopover" class="popover">
            <ul class="popover-list">
              <li class="popover-item">
                <a class="popover-link" href="https://github.com/dhg/Skeleton">On Github</a>
              </li>
              <li class="popover-item">
                <a class="popover-link" href="https://github.com/dhg/Skeleton#browser-support">Browsers</a>
              </li>
              <li class="popover-item">
                <a class="popover-link" href="https://github.com/dhg/Skeleton#license">License</a>
              </li>
              <li class="popover-item">
                <a class="popover-link" href="https://github.com/dhg/Skeleton#extensions">Extensions</a>
              </li>
              <li class="popover-item">
                <a class="popover-link" href="https://github.com/dhg/Skeleton/releases">Versions</a>
              </li>
              <li class="popover-item">
                <a class="popover-link" href="https://github.com/dhg/Skeleton#colophon">Colophon</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div style="width:100%; background-color:black;">
  <div class="container">
  <div class="docs-section" id="intro">
      <h6 class="docs-header">Is Skeleton for you?</h6>
      <p>You should use Skeleton if you're embarking on a smaller project or just don't feel like you need all the utility of larger frameworks. Skeleton only styles a handful of standard HTML elements and includes a grid, but that's often more than enough to get started. In fact, <u>this site is built on Skeleton and has ~200 lines of custom CSS</u> (half of which is the docking navigation).</p>
      <p>Love Skeleton and want to Tweet it, share it, or star it? Well, I appreciate that &lt;3</p>
    </div>
    </div>
<p>blah blah</p>
<p>blah blah</p>
<p>blah blah</p>
<p>blah blah</p>
<p>blah blah</p>
<p>blah blah</p>
<p>blah blah</p>
<p>blah blah</p>
<p>blah blah</p>
<p>blah blah</p>
<p>blah blah</p>
<p>blah blah</p>
<p>blah blah</p>
<p>blah blah</p>
<p>blah blah</p>
<p>blah blah</p>
<p>blah blah</p>
<p>blah blah</p>


</div>