<div id="Portfolio">
	<div class="black-back">
		<div class="container">
			<h1><b>CARTER MINSHULL</b></h1>
			<h4 class="align-right">Software Engineer, Quantum Hacker & Scientist</h4>
		</div>
	</div>
	
	<nav class="navbar">
		<div class="container align-middle">
			<ul class="navbar-list">
				<li class="navbar-item"><a class="navbar-link" href="#Profile">Profile</a></li>
				<li class="navbar-item"><a class="navbar-link" href="#Experience">Experience</a></li>
				<li class="navbar-item"><a class="navbar-link" href="#Projects">Projects</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="row align-middle">
			<h4 class="quote space-verticle">"Show up. Show up on time. Show up on time, dressed to play."</h4>	
		</div>
		<div class="row">
			<div class="five columns">
				<img class="right-point" src="/minch/lab.jpg"/>
			</div>
			<div class="seven columns">
				<h4>Hi, Im Carter!</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in risus arcu. Fusce congue diam non mattis gravida. Proin fringilla dignissim euismod. Duis turpis eros, pretium eu faucibus a, accumsan et laoreet at velit. Morbi eu facilisis sapien, nec eleifend justo. Morbi est turpis, pellentesque quis quam sit amet, varius aliquet nisi. Cras vel finibus lorem. Aliquam malesuada gravida malesuada. Proin luctus mi mauris, eget consequat quam lobortis venenatis.</p>

				<p>Phasellus congue tincidunt leo vel mattis. Vestibulum id sem tellus. Aenean ornare felis vel egestas volutpat. Sed sollicitudin eleifend malesuada. Nam porta convallis auctor. Suspendisse imperdiet tortor nec sem mattis, quis mollis augue feugiat. Sed luctus, felis non laoreet pulvinar, tortor velit laoreet velit, eu gravida sapien ante et risus. Curabitur sagittis auctor consequat. Pellentesque sed lorem fermentum, pharetra augue id, pellentesque dolor. Sed ac imperdiet risus.</p>
			</div>
		</div>
		<div class="row align-middle">
			<h2 class="space-verticle">Experiences</h2>
		</div>
		<div class="row">
			<div class="seven columns">
				<h3>Christie Digital</h3>
				<p>Phasellus congue tincidunt leo vel mattis. Vestibulum id sem tellus. Aenean ornare felis vel egestas volutpat. Sed sollicitudin eleifend malesuada. Nam porta convallis auctor. Suspendisse imperdiet tortor nec sem mattis, quis mollis augue feugiat. Sed luctus, felis non laoreet pulvinar, tortor velit laoreet velit, eu gravida sapien ante et risus. Curabitur sagittis auctor consequat. Pellentesque sed lorem fermentum, pharetra augue id, pellentesque dolor. Sed ac imperdiet risus.</p>
				<button class="button-primary">Employer feedback</button>
			</div>
			<div class="five columns">
				<img class="left-point" src="/minch/carter.png"/>
			</div>
		</div>
		<div class="row">
			<div class="five columns">
				<img class="right-point" src="/minch/lab.jpg"/>
			</div>
			<div class="seven columns">
				<h3>IQC</h3>
				<p>Phasellus congue tincidunt leo vel mattis. Vestibulum id sem tellus. Aenean ornare felis vel egestas volutpat. Sed sollicitudin eleifend malesuada. Nam porta convallis auctor. Suspendisse imperdiet tortor nec sem mattis, quis mollis augue feugiat. Sed luctus, felis non laoreet pulvinar, tortor velit laoreet velit, eu gravida sapien ante et risus. Curabitur sagittis auctor consequat. Pellentesque sed lorem fermentum, pharetra augue id, pellentesque dolor. Sed ac imperdiet risus.</p>
				<button class="button-primary right">Employer feedback</button>
			</div>
		</div>
		<div class="row">
			<div class="seven columns">
				<h3>Scarsin</h3>
				<p>Phasellus congue tincidunt leo vel mattis. Vestibulum id sem tellus. Aenean ornare felis vel egestas volutpat. Sed sollicitudin eleifend malesuada. Nam porta convallis auctor. Suspendisse imperdiet tortor nec sem mattis, quis mollis augue feugiat. Sed luctus, felis non laoreet pulvinar, tortor velit laoreet velit, eu gravida sapien ante et risus. Curabitur sagittis auctor consequat. Pellentesque sed lorem fermentum, pharetra augue id, pellentesque dolor. Sed ac imperdiet risus.</p>
				<button class="button-primary">Employer feedback</button>
			</div>
			<div class="five columns">
				<img class="left-point" src="/minch/carter.png"/>
			</div>
		</div>
		<div class="row">
			<div class="five columns">
				<img class="right-point" src="/minch/lab.jpg"/>
			</div>
			<div class="seven columns">
				<h3>UW Housing</h3>
				<p>Phasellus congue tincidunt leo vel mattis. Vestibulum id sem tellus. Aenean ornare felis vel egestas volutpat. Sed sollicitudin eleifend malesuada. Nam porta convallis auctor. Suspendisse imperdiet tortor nec sem mattis, quis mollis augue feugiat. Sed luctus, felis non laoreet pulvinar, tortor velit laoreet velit, eu gravida sapien ante et risus. Curabitur sagittis auctor consequat. Pellentesque sed lorem fermentum, pharetra augue id, pellentesque dolor. Sed ac imperdiet risus.</p>
				<button class="button-primary right">Employer feedback</button>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="container align-middle">
			<ul class="navbar-list">
				<li class="navbar-item"><a class="navbar-link" href="#Profile">Contact</a></li>
				<li class="navbar-item"><a class="navbar-link" href="#Experience">Lorem</a></li>
				<li class="navbar-item"><a class="navbar-link" href="#Projects">Ipsom</a></li>
			</ul>
			<h5><b>powered by Efolio</b></h5>
			<h6>Waterloo, ON &copy; 2016</h6>
		</div>
	</div>
</div>