<div id="Portfolio">
	<div class="black-back">
		<div class="container">
			<h1><b>CARTER MINSHULL</b></h1>
			<h4 class="align-right">Software Engineer, Quantum Hacker & Scientist</h4>
		</div>
	</div>
	
	<nav class="navbar">
		<div class="container align-middle">
			<ul class="navbar-list">
				<li class="navbar-item"><a class="navbar-link" href="#Profile">Profile</a></li>
				<li class="navbar-item"><a class="navbar-link" href="#Experience">Experience</a></li>
				<li class="navbar-item"><a class="navbar-link" href="#Achievements">Achievements</a></li>
				<li class="navbar-item"><a class="navbar-link" href="#Projects">Projects</a></li>
			</ul>
		</div>
	</nav>
	<div class="spacer"></div>

	<div class="container">
		<div class="row scroll">
			<div class="five columns">
				<img src="/minch/lab.jpg"/>
			</div>
			<div class="seven columns">
				<h2>Looking for a Forward Deployed Engineer?!</h2>
				<h4>I'm Carter, a co-op student with expertise in <b>technology, software, business and problem solving</b>; 
				seeking employment with an innovative employer starting in <b>May 2016</b>.</h4>
			</div>
			<div class="row align-middle">
				<a id="Profile" class="anchor"></a>
				<h4 class="quote space-verticle">"Show up. Show up on time. Show up on time, dressed to play."</h4>	
				<h6 class="four columns"><b>email</b>: cdminshu@uwaterloo.ca</h6>
				<h6 class="three columns"><b>phone</b>: (416) 706-0096</h6>
				<h6 class="four columns">3B Physics and Astronomy</h6>
			</div>
			<div class="align-middle">
				<a class="button button-primary align-middle" href="/minch/experience.pdf" target="_blank">My resume</a>
			</div>
		</div>
		<div class="row align-middle">
			<a id="Experience" class="anchor"></a>
			<h2>Experiences</h2>
		</div>
		<div class="row scroll">
			<h3>Christie Digital</h3>
			<div class="five columns no-margin">
				<img src="/minch/carter.png"/>
			</div>
			<div class="seven columns">
				<ul>
					<li>Worked both independently and with a team of software engineers to develop new and improved modules for an advanced projection mapping automation tool</li>
					<li>Designed, coded and tested my own additions, bringing improved machine vision intelligence to the software AutoMap</li>
					<li>Implemented Python and AutoHotkey scripts to maximize efficiency while debugging</li>
				</ul>
			</div>
			<button id="digitalOpen" class="primary-button right">Employer feedback</button>
		</div>
		<div id="digitalFeedback" class="feedback">
			<p><span class="bigQuotes">"</span>Carter started the term with a fairly weak background in programming. Throughout the term he
			showed an exceptional capacity to learn and improve that particular skill. He was able to successfully integrate two new third party libraries into our software. Each added a new dynamic to the software that was previously unavailable.<span class="bigQuotes">"</span></p>
			<span>-Derek Scott</span>
		</div>
		<div class="row">
			<h3>Institute of Quantum Computing</h3>
			<div class="five columns no-margin">
				<img src="/minch/iqc.jpg"/>
			</div>
			<div class="seven columns">
				<ul>
					<li>Led my own research project to crack a commercial quantum cryptography system in research group (www.vad1.com/lab) led by Professor Vadim Makarov and four graduate students</li>
					<li>Exercised ingenuity, discipline and precision while building laser and cooperative thermal electric cooler controllerinvolving electronics, free-space and fibre-optics</li>
					<li>Completed university-certified training: Lab Safety, WHIMIS, High-Power Laser Use, Cryogenics, Compressed gas, Electronic Soldering</li>
				</ul>
				<button id="iqcOpen" class="primary-button right">Employer feedback</button>
			</div>
		</div>
		<div id="IQCFeedback" class="feedback">
			<p><span class="bigQuotes">"</span>He took every task we have given him with enthusiasm and efficiency.<span class="bigQuotes">"</span></p>
			<br></br>
			<p><span class="bigQuotes">"</span>Carter has notably advanced the project, set up the crucial equipment, performed the most important measurements, and obtained useful results. This has allowed us to subsequently involve a postdoc and PhD student for a short additional time to quickly do additional measurements and complete this project. It is currently being finished with the hope that we will make a good journal publication.<span class="bigQuotes">"</span></p>
			<span>-Vadim Makarov</span>
		</div>
		<div class="row">
			<h3>Scarsin</h3>
			<div class="five columns no-margin">
				<img src="/minch/carter.png"/>
			</div>
			<div class="seven columns">
				<ul>
					<li>Exercised acute attention to detail while integrating client business models and data into I2E (Integrated Insight Environment) software</li>
					<li>Displayed exceptional written and verbal skills when training clients in basic use of I2E and when working with client managers to make model improvements</li>
					<li>Clients were consistently impressed by the quality of service and the effectiveness of my reporting</li>
				</ul>
				<button id="scarsinOpen" class="primary-button right">Employer feedback</button>
			</div>
		</div>
		<div id="scarsinFeedback" class="feedback">
			<p><span class="bigQuotes">"</span>His attention to detail and process and his sense of ownership over his actions and results has been of significant benefit in our project activities.<span class="bigQuotes">"</span></p>
			<span>-Ray Martin</span>
			<a class="button button-primary right" href="/minch/scarsinRL.jpg" target="_blank">Reference</a>
		</div>
		<div class="row">
			<h3>UW Housing</h3>
			<div class="five columns no-margin">				
				<img src="/minch/lab.jpg"/>
			</div>
			<div class="seven columns">
				
				<ul>
					<li>Chosen through competitive application and interview process to build a strong and supportive residence community by leading and living with forty students while attending university full-time.</li>
					<li>Responsible to plan activities which help first year and international students get to know each other, have fun, and learn skills important for success at university</li>
					<li>Worked as a Manager for several Waterloo open houses for prospective students</li>
					<li>Effectively handled high stress on-call situations involving lifesaving first-aid and emergency services</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="footer">
		<ul class="footer-list">
			<li class="footer-item">
				<a class="footer-link" href="#Profile">Profile</a>
			</li>
			<li class="footer-item">
				<a class="footer-link" href="#Experience">Experience</a>
			</li>
			<li class="footer-item">
				<a class="footer-link" href="#Achievements">Achievements</a>
			</li>
			<li class="footer-item">
				<a class="footer-link" href="#Projects">Projects</a>
			</li>
		</ul>
		<h6><b>powered by Efolio</b></h6>
		<h6>Waterloo, ON &copy; 2016</h6>
	</div>

</div>