<!-- <div id="Portfolio">

	<div class="toolbar">
		<h2>Carter Minshull</h2>
		<span>Software Engineer, Quantum Hacker & Scientist</span>
	</div>

	<div class="Info">
		<span>This is the body</span>
	</div>

	<div class="footer row">
		<div class="nine columns">&nbsp;</div>
		<div class="three columns"> 	
			<h4>Contact</h4>
			<span>Phone: 999-999-9999</span>
			<span>Email: cminshull@uwaterloo.ca</span>
		</div>

	</div>

</div> -->
<div id="Portfolio">
	<div>
		<div class="container">
			<h2>CARTER MINSHULL</h2>
			<span>Software Engineer, Quantum Hacker & Scientist</span>
		</div>
	</div>
	
	<nav class="navbar">
		<div class="container align-middle">
			<ul class="navbar-list">
				<li class="navbar-item"><a class="navbar-link" href="#Profile">Profile</a></li>
				<li class="navbar-item"><a class="navbar-link" href="#Experience">Experience</a></li>
				<li class="navbar-item"><a class="navbar-link" href="#Projects">Projects</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="four columns">
				<img src="/minch/carter.png"/>
				<span id="quote">"Show up. Show up on time. Show up on time, dressed to play."</span>
			</div>
			<div class="eight columns">
				<p>alskdflksajfksadjflk</p>
				<p>alskdflksajfksadjflk</p>
				<p>alskdflksajfksadjflk</p>
				<p>alskdflksajfksadjflk</p>
			</div>
		</div>
		<div class="row">
			<div class="four columns">
				<img src="/minch/hotstud.jpg"/>
			</div>
			<div class="eight columns">
				<p>alskdflksajfksadjflk</p>
				<p>alskdflksajfksadjflk</p>
				<p>alskdflksajfksadjflk</p>
				<p>alskdflksajfksadjflk</p>
			</div>
		</div>
		<div class="row">
			<div class="four columns">
				<img src="/minch/hotstud.jpg"/>
			</div>
			<div class="eight columns">
				<p>alskdflksajfksadjflk</p>
				<p>alskdflksajfksadjflk</p>
				<p>alskdflksajfksadjflk</p>
				<p>alskdflksajfksadjflk</p>
			</div>
		</div>
		<div class="row">
			<div class="four columns">
				<img src="/minch/hotstud.jpg"/>
			</div>
			<div class="eight columns">
				<p>alskdflksajfksadjflk</p>
				<p>alskdflksajfksadjflk</p>
				<p>alskdflksajfksadjflk</p>
				<p>alskdflksajfksadjflk</p>
			</div>
		</div>
		<div class="row">
			<div class="four columns">
				<img src="/minch/hotstud.jpg"/>
			</div>
			<div class="eight columns">
				<p>alskdflksajfksadjflk</p>
				<p>alskdflksajfksadjflk</p>
				<p>alskdflksajfksadjflk</p>
				<p>alskdflksajfksadjflk</p>
			</div>
		</div>		
	</div>

	<div>
		<p>footer</p>
	</div>
</div>