<div id="Portfolio">
	<div class="black-back">
		<div class="container">
			<h1><b>CARTER MINSHULL</b></h1>
			<h4 class="align-right">Software Engineer, Quantum Hacker & Scientist</h4>
		</div>
	</div>
	
	<nav class="navbar">
		<div class="container align-middle">
			<ul class="navbar-list">
				<li class="navbar-item"><a class="navbar-link" href="#Profile">Profile</a></li>
				<li class="navbar-item"><a class="navbar-link" href="#Experience">Experience</a></li>
				<li class="navbar-item"><a class="navbar-link" href="#Resume">Resume</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="row align-middle">
			<h4 class="quote space-verticle">"Show up. Show up on time. Show up on time, dressed to play."</h4>	
		</div>
		<div class="row">
			<div class="five columns">
				<img class="right-point" src="/minch/lab.jpg"/>
			</div>
			<div class="seven columns">
				<h2>Hi, Im <b>Carter</b>!</h2>
				<h4>&nbsp;I am a co-op student with expertise in <b>technology, software, business and problem solving</b>; 
				seeking employment with an innovative employer starting in <b>May 2016</b>.</h4>
				<button class="primary-button">My resume</button>
				<h6><b>email</b>: carter@uwaterloo.ca <b>phone</b>: (888)-888-8888</h6>
			</div>
		</div>
		<div class="row align-middle">
			<h2 class="space-verticle">Experiences</h2>
		</div>
		<div class="row">
			<div class="seven columns">
				<h3>Christie Digital</h3>
				<ul>
					<li>Worked both independently and with a team of software engineers to develop new and improved modules for an advanced projection mapping automation tool</li>
					<li>Designed, coded and tested my own additions, bringing improved machine vision intelligence to the software AutoMap</li>
					<li>Implemented Python and AutoHotkey scripts to maximize efficiency while debugging</li>
				</ul>
				<button class="button-primary">Employer feedback</button>
			</div>
			<div class="five columns">
				<img class="left-point" src="/minch/carter.png"/>
			</div>
		</div>
		<div class="row">
			<div class="five columns">
				<img class="right-point" src="/minch/lab.jpg"/>
			</div>
			<div class="seven columns">
				<h3>IQC</h3>
				<ul>
					<li>Led my own research project to crack a commercial quantum cryptography system in research group (www.vad1.com/lab) led by Professor Vadim Makarov and four graduate students</li>
					<li>Exercised ingenuity, discipline and precision while building laser and cooperative thermal electric cooler controllerinvolving electronics, free-space and fibre-optics</li>
					<li>Completed university-certified training: Lab Safety, WHIMIS, High-Power Laser Use, Cryogenics, Compressed gas, Electronic Soldering</li>
				</ul>
				<button class="button-primary right">Employer feedback</button>
			</div>
		</div>
		<div class="row">
			<div class="seven columns">
				<h3>Scarsin</h3>
				<ul>
					<li>Exercised acute attention to detail while integrating client business models and data into I2E (Integrated Insight Environment) software</li>
					<li>Displayed exceptional written and verbal skills when training clients in basic use of I2E and when working with client managers to make model improvements</li>
					<li>Clients were consistently impressed by the quality of service and the effectiveness of my reporting</li>
				</ul>
				<button class="button-primary">Employer feedback</button>
			</div>
			<div class="five columns">
				<img class="left-point" src="/minch/carter.png"/>
			</div>
		</div>
		<div class="row">
			<div class="five columns">
				<img class="right-point" src="/minch/lab.jpg"/>
			</div>
			<div class="seven columns">
				<h3>UW Housing</h3>
				<ul>
					<li>Chosen through competitive application and interview process to build a strong and supportive residence community by leading and living with forty students while attending university full-time.</li>
					<li>Responsible to plan activities which help first year and international students get to know each other, have fun, and learn skills important for success at university</li>
					<li>Worked as a Manager for several Waterloo open houses for prospective students</li>
					<li>Effectively handled high stress on-call situations involving lifesaving first-aid and emergency services</li>
				</ul>
				<button class="button-primary right">Employer feedback</button>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="container align-middle">
			<ul class="navbar-list">
				<li class="navbar-item"><a class="navbar-link" href="#Profile">Profile</a></li>
				<li class="navbar-item"><a class="navbar-link" href="#Experience">Experience</a></li>
				<li class="navbar-item"><a class="navbar-link" href="#Resume">Resume</a></li>
			</ul>
			<h5><b>powered by Efolio</b></h5>
			<h6>Waterloo, ON &copy; 2016</h6>
		</div>
	</div>
</div>