<div id="Identity">	
	<nav class="navbar">
		<div class="container align-middle">
			<ul class="navbar-list">
				<li class="navbar-item"><a class="navbar-link" href="#Profile">PROFILE</a></li>
				<li class="navbar-item"><a class="navbar-link" href="#Experience">EXPERIENCES</a></li>
				<li class="navbar-item"><a class="navbar-link" href="#Projects-and-Achievements">PROJECTS</a></li>
			</ul>
		</div>
	</nav>

	<div class="spacer"></div>

	<div class="container">
		
		<div>

		</div>
	
		
		<div class="footer">
			<ul class="footer-list">
				<li class="footer-item">
					<a class="footer-link" href="#Profile">Profile</a>
				</li>
				<li class="footer-item">
					<a class="footer-link" href="#Experience">Experiences</a>
				</li>
				<li class="footer-item">
					<a class="footer-link" href="#Projects-and-Achievements">Projects</a>
				</li>
			</ul>
			<div class="company">
				<h6><b>powered by Leafii</b></h6>
				<h6>Waterloo, ON &copy; 2016</h6>
			</div>
		</div>

	</div>

</div>